.div-mäekast {
    margin-left: 20vh;
    margin-right:20vh;
}

.kast img{
    width: 8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.hinnakiri_vaheleht {
    width: 100%;
}

.vaheleht_table {
    width: 50%;
    margin: 0 auto;
}

.price {
    font-size:5rem;
    margin-bottom: 1rem;
    display: flex;
    height: 10.75rem;
    align-items: center;
    justify-content: center;
    
}
.cheap {
    color: rgb(27, 217, 85)
    
}
.medium {
    color: rgb(210, 217, 27)
}

.expensive {
    color: rgb(232, 19, 49)
}

.transparent {
    color: rgba(50, 50, 50, 0.3)
}

.content p {
    text-align: center;
    font-size:1.15rem;
    margin-left: 35vh;
    margin-right:35vh;
}
